@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

body {
    font-family: 'Fira Sans', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: 100%;
    color: #263238;
    font-size: 1.1vw;
}


/* Navigation */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    padding: 20px 40px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px #00000038;
}

.logo {
    font-size: 28px;
    font-weight: bold;
    color: #000;
    display: flex;
    font-family: 'Orbitron', sans-serif;
    text-transform: uppercase;
}

.logo a {
    cursor: pointer;
    text-decoration: none;
    display: flex;
    color: #000;
}

.lx {
    padding-top: 0px;
    margin: 0px;
    font-size: 28px;
    color: #c62ff6;
    font-family: 'Orbitron', sans-serif;
}


nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

nav ul li a {
    color: #263238;
    text-decoration: none;
    font-size: 1vw;
    text-transform: uppercase;
    font-weight: bold;
    transition: color 0.3s ease, transform 0.3s ease;
}

nav ul li a:hover {
    color: #c62ff6;
    transform: scale(1.1);
}

/* Navigation - Mobile */
nav .menu-toggle {
    display: none;
}

nav .nav-links {
    display: flex;
    /* Default layout (desktop) */
}


header {
    /* position: relative; */
    width: 100%;
    display: flex;
    align-items: center;
    text-align: right;
    justify-content: space-between;
    align-content: space-around;

}

figure {
    width: 50.15%;
    margin: 0px;
    padding: 0px;
}

figure img {
    width: 100%;
    object-fit: cover;
    margin: 0px;
}

header figure img {
    padding: 5vw 0vw 0vw 0vw;
}

.header-content {
    width: 40%;
    padding: 0vh 5vw 0vh 0vw;
}


.header-content h1 {
    font-size: 4vw;
    color: #c62ff6;
    margin: 0;
}

.header-content p {
    font-size: 2vw;
    margin: 3vh 0vw 0vh 0vw;
}

.header-content button {
    background-color: #263238;
    padding: content;
    width: 10vw;
    height: 6vh;
    border: none;
    border-radius: 0.5vw;
    margin: 4vh 0vw 0vh 0vw;
    cursor: pointer;
}

.header-content button:hover {
    background-color: #c62ff6;
}

.header-content button a {
    color: white;
    text-decoration: none;
    font-size: 1.5vw;
}

main {
    width: 100%;
}

#vision,
#mission,
#value,
#approach,
#contact {
    width: 100%;
}

#vision {
    padding-top: 9vw;
}

#mission {
    background-color: #ededed;
    clip-path: polygon(50% 10%, 100% 0%, 100% 100%, 0% 100%, 0% 0%);
    padding: 13vh 0vw 0vh 0vw;
}

#value {
    text-align: center;
    background-color: #ededed;
}

#contact {
    padding: 0vw 0vw 19vw 0vw;
    background-image: url('img/footer_new.png');
    /* Percorso immagine */
    background-position: bottom center;
    /* Centra l’immagine e la ancora in basso*/
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    background-size: 101%;
}


h2 {
    color: #c62ff6;
    font-size: 3vw;
    margin: 0;
}

h3 {
    font-size: 2vw;
    margin: 0;
}

#vision-content,
#mission-content,
#value-content {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5vh 0vw;
    width: 80vw;
}

.textMission,
.textVision {
    width: 38%;
}

.fotoVision,
.fotoMission {
    width: 42%;
}

#value-content {
    width: 80vw;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0vh 0vw 15vh 0vw;
}

#value-content article figure {
    margin: 0;
    width: 100%;
    border-radius: 15px 15px 0px 0px;
}

#value-content article {
    min-width: 14vw;
    height: 27.3vw;
    flex: 1;
    text-align: start;
    background-color: white;
    border-radius: 1vw;
    box-shadow: 0 0 15px #0000001f;
    padding: 1vw;
}

#value-content article h4 {
    color: #c62ff6;
    text-align: center;
    font-size: 1.5vw;
    margin: 1vh 0vw;
}

#services {
    width: 100%;
    margin: 0;
    text-align: center;
    background-color: #730099;
    clip-path: polygon(50% 7%, 100% 0%, 100% 100%, 0% 100%, 0% 0%);
}

#services-background {
    width: 100%;
    background-color: #ededed;
}

#value h2,
#services h2,
#approach h2 {
    padding: 6vw 0vw 4vh 0vw;
}

#services h2 {
    color: white;
}


#contact h2 {
    padding: 15vh 0vw 0vh 0vw;
}

.service-cards {
    width: 80vw;
    display: flex;
    gap: 26px;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0vh 0vw 11vw 0vw;
}

.service-card {
    display: grid;
    background: rgb(255 255 255);
    padding: 1vw;
    flex: 1;
    min-width: 17vw;
    text-align: center;
    border-radius: 1vw;
    box-shadow: 0 0 15px #0000001f;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    vertical-align: middle;
    /* position: relative; */
    cursor: pointer;
    /* justify-items: center; */
}

.int-content {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0;
}

.int-content h3 {
    width: 80%;
    text-align: center;
    color: #c62ff6;
}

.service-card:hover {
    transform: translateY(-1vh);
    background-color: #c62ff6;
    color: #fff;
}

.service-card:hover h3 {
    color: white;
}

.material-icons {
    /* text-align: left; */
    width: 4vw;
    height: 4vw;
    border-radius: 50%;
    color: #9448a6;
    font-size: 2vw;
    /* vertical-align: 7vh; */
    /* margin-right: 10px; */
}

.icone {
    /* position: absolute; */
    background-color: #730099;
    box-shadow: 0 0 15px #0000001f;
    color: white;
    /* top: -3vh; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* clip-path: polygon(100% 0%, 80% 100%, 20% 100%, 0% 0%); */
}

.service-card p {
    margin: 2vw 0vw;
}

/* Approach section */
#approach-background {
    width: 100%;
    background-color: #730099;
    margin: 0;
}

#approach {
    width: 100%;
    clip-path: polygon(50% 5%, 100% 0%, 100% 100%, 0% 100%, 0% 0%);
    text-align: center;
    background-color: white;
    padding: 0vw 0vw 5vw 0vw;
}

#approach-accordion {
    width: 80vw;
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0vh 0vw 10vw 0vw;
}

.accordion-item {
    display: grid;
    flex: 1;
    min-width: 26vw;
    text-align: center;
    border-radius: 1vw;
    box-shadow: 0 0 15px #0000001f;
    transition: 0.3s ease, box-shadow 0.3s ease;
    vertical-align: middle;
    height: 11vw;
}

#approach .int-content {
    border-radius: 1vw 1vw 1vw 1vw;
    cursor: pointer;
    background-color: #730099;
    width: 100%;
}

#approach .material-icons {
    background-color: #730099;
    box-shadow: none;
    padding: 0.5vw;
}

#approach h3 {
    color: #fff;
}


.accordion-item p {
    display: none;
    margin: 1vw;
    transition: all 0.5s ease-in-out;
    height: 13vw;
    font-size: 1.3vw;
}

.accordion-item.active p {
    display: block;
}



/* Contact Section */

#contact-content {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 6vw 0vw;
    width: 80vw;
    flex-direction: column;
}

#contact p {
    width: 32vw;
    text-align: left;
    margin-bottom: 0;
    color: #263238;
}

#contact form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 32vw;
    max-width: 500px;
    margin: 0 auto;
    align-items: center;
}

#contact input,
#contact textarea {
    padding: 14px;
    font-size: 1vw;
    background: #fff;
    border-radius: 0.5vw;
    width: 30vw;
}

#contact input:focus,
#contact textarea:focus {
    border: 2px solid #c62ff6;
    /* Colore del bordo quando l'elemento è attivo */
    outline: none;
    /* Rimuove l'outline di default quando l'input è attivo */
}

#contact button {
    padding: 14px;
    background-color: #263238;
    color: #fff;
    border: none;
    border-radius: 0.5vw;
    font-size: 1.2vw;
    cursor: pointer;
    display: block;
    text-align: center;
    width: 31.5vw;
}

#contact button:hover {
    background-color: #c62ff6;
    color: #fff;
}

/* Footer */
.footer {
    background-color: #263238;
    color: #fff;
    padding: 60px 20px 20px;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    gap: 5vw;
    justify-content: start;
    max-width: 80vw;
    margin: 0 auto;
}

.footer-section {
    /* flex: 1 1 37vw; */
    width: 25vw;
}

.footer-section h3,
.footer-section h4 {
    margin-bottom: 10px;
    color: #fff;
}

.footer-section a {
    color: #fff;
    text-decoration: underline;
}

.footer-section a:hover {
    text-decoration: none;
    color: #c62ff6;
}

.footer-bottom {
    border-top: 1px solid #fff;
    margin-top: 40px;
    padding-top: 20px;
    text-align: center;
    font-size: 14px;
}

.footer-bottom a {
    color: #fff;
}

.footer-bottom a:hover {
    color: #c62ff6;
}

.footer-section a {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.footer-section a footer a:hover {
    color: #c62ff6;
}


/*Layout mobile version portrait */

@media screen and (max-width:480px) {

    body {
        width: 100%;
        font-size: 4vw;
    }

    header {
        flex-wrap: wrap;
    }

    figure {
        order: 2;
        width: 100%;
    }

    header figure img {
        padding: 20vw 0vw 0vw 0vw;
    }

    .header-content {
        order: 1;
        width: 100%;
        padding: 25vw 5vw 0vw 5vw;
    }

    .header-content h1 {
        font-size: 11vw;
    }

    .header-content p {
        font-size: 6vw;
        width: 90vw;
    }

    .header-content button {
        width: 45vw;
        border-radius: 3vw;
    }

    .header-content button a {
        font-size: 4vw;
    }

    nav ul li a {
        font-size: 5vw;
    }

    nav ul li {
        border-top: 0.3px solid rgba(0, 0, 0, 0.123);
        width: 100%;
        padding: 1vh 6vw;
    }

    nav ul li:hover {
        background-color: #c62ff6;
    }

    nav ul li:hover a {
        color: #fff;
    }

    nav {
        width: 79%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 3vh;
    }

    nav .logo {
        font-weight: bold;
        color: #000;
        display: flex;
        font-family: 'Orbitron', sans-serif;
    }

    /* Show hamburger icon on mobile */
    nav .menu-toggle {
        display: block;
        background: transparent;
        border: none;
        font-size: 8vw;
        /* Mantiene il font adattabile senza diventare troppo grande */
        color: #c62ff6;
        /* Adatta il margine in base alla larghezza dello schermo */
    }

    nav .nav-links {
        display: none;
        flex-direction: column;
        gap: 0vh;
        position: absolute;
        top: 47.5px;
        /* right: 21vw; */
        background-color: #fff;
        border-radius: -0.5rem;
        box-shadow: 0px 0.5vh 1vh rgba(0, 0, 0, 0.1);
        width: 100%;
        padding: 0;
    }

    /* Make nav links visible when hamburger is clicked */
    nav.active .nav-links {
        display: flex;
        align-items: flex-start;
    }

    #vision-content,
    #mission-content,
    #value-content {
        width: 90vw;
        display: block;
    }

    h2 {
        font-size: 10vw;
    }

    h3 {
        font-size: 7vw;
    }

    .textMission,
    .textVision {
        width: 100%;
    }

    .fotoVision,
    .fotoMission {
        width: 100%;
    }

    #value-content {
        display: flex;
        gap: 5vw;
        flex-direction: column;
    }

    #value-content article {
        padding: 5vw;
        border-radius: 5vw;
    }

    #value-content article h4 {
        font-size: 6vw;
    }

    #services {
        clip-path: polygon(50% 5%, 100% 0%, 100% 100%, 0% 100%, 0% 0%);
    }

    #services h2,
    #value h2,
    #approach h2 {
        padding: 26vw 0vw 6vh 0vw;
    }

    .service-cards {
        width: 90vw;
        gap: 5vw;
    }

    .service-card {
        padding: 3vw;
        border-radius: 3vw;
        flex: unset;
        height: 50vw;
    }

    .material-icons {
        width: 10vw;
        height: 10vw;
        font-size: 5vw;
    }

    #approach {
        clip-path: polygon(50% 5%, 100% 0%, 100% 100%, 0% 100%, 0% 0%);
        padding: 0vw 0vw 4vw 0vw;
    }

    #approach-accordion {
        width: 90vw;
        gap: 5vw;
    }

    .accordion-item {
        padding: 0vw;
        border-radius: 3vw;
        flex: unset;
        height: 50vw;
        width: 100%;
    }

    #approach h3 {
        border-radius: 2vw 2vw 2vw 2vw;
        padding: 2vw;
    }

    .accordion-item p {
        height: 50%;
        font-size: 4vw;
    }

    .contact-content {
        width: 90vw;
    }

    #contact {
        padding: 0vw 0vw 20vw 0vw;
    }

    #contact form {
        width: 100%;
    }

    #contact input,
    #contact textarea {
        width: 90%;
        font-size: 4vw;
        border-radius: 2vw;
    }

    #contact p {
        width: 100%;
    }

    #contact button {
        width: 100%;
        font-size: 4vw;
        border-radius: 2vw;
    }

    .footer-container {
        width: 90vw;
        margin: 0;
        flex-wrap: nowrap;
        align-items: baseline;
    }

    .footer-section {
        width: 50vw;
    }
}

/*Layout mobile version landscape */
@media screen and (min-width: 481px) and (max-width:932px) {
    body {
        width: 100%;
        font-size: 1.6vw;
    }

    nav ul li a {
        font-size: 3vw;
    }

    nav ul li {
        border-top: 0.3px solid rgba(0, 0, 0, 0.123);
        width: 100%;
        padding: 1vh 6vw;
    }

    nav ul li:hover {
        background-color: #c62ff6;
    }

    nav ul li:hover a {
        color: #fff;
    }

    nav {
        width: 92%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 3vh;
    }

    nav .logo {
        font-weight: bold;
        color: #000;
        display: flex;
        font-family: 'Orbitron', sans-serif;
    }

    /* Show hamburger icon on mobile */
    nav .menu-toggle {
        display: block;
        background: transparent;
        border: none;
        font-size: 5vw;
        /* Mantiene il font adattabile senza diventare troppo grande */
        color: #c62ff6;
        /* Adatta il margine in base alla larghezza dello schermo */
    }

    nav .nav-links {
        display: none;
        flex-direction: column;
        gap: 0vh;
        position: absolute;
        top: 42px;
        /* right: 21vw; */
        background-color: #fff;
        border-radius: -0.5rem;
        box-shadow: 0px 0.5vh 1vh rgba(0, 0, 0, 0.1);
        width: 100%;
        padding: 0;
    }

    /* Make nav links visible when hamburger is clicked */
    nav.active .nav-links {
        display: flex;
        align-items: flex-start;
    }

    #vision-content,
    #mission-content,
    #value-content,
    #approach-content {
        width: 90vw;

    }

    #services h2,
    #value h2,
    #approach h2 {
        padding: 10vw 0vw 6vh 0vw;
    }


    .header-content {
        width: 50%;
    }

    .header-content h1 {
        font-size: 5vw;
    }


    .header-content p {
        font-size: 3vw;
    }

    .header-content button {
        width: 20vw;
        border-radius: 1vw;
        height: 6vw;
    }

    .header-content button a {
        font-size: 2.5vw;
    }

    h2 {
        font-size: 3.3vw;
    }

    h3 {
        font-size: 2.5vw;
    }

    #value-content {
        gap: 2vw;
    }

    #value-content article {
        padding: 1vw;
        border-radius: 2vw;
        height: 34.5vw;
    }

    #value-content article h4 {
        font-size: 2.3vw;
    }


    .service-cards {
        width: 90vw;
        gap: 2vw;
    }

    .service-card {
        padding: 1vw;
        border-radius: 2vw;
        height: 24.5vw;
        flex: 1;
        min-width: 20vw;
    }


    #contact p {
        width: 100%;
    }

    #contact form {
        width: 50%;
    }

    #contact input,
    #contact textarea {
        font-size: 1.6vw;
        border-radius: 1vw;
        width: 90%;
    }

    #contact button {
        width: 101%;
        font-size: 1.6vw;
        border-radius: 1vw;
    }
}