/* Importing Google fonts - Inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
  box-sizing: border-box;
}


html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100%;
}

body {
  background-color: #730099;
  color: white;
  font-size: 12px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  /* background-image: url(/img/side-view-man-working-nature.jpg); */
}


/* Navigation */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: none;
  padding: 20px 3vw;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: none;
  /* box-shadow: 0 0 10px #00000038; */
}

.logo {
  font-size: 28px;
  font-weight: bold;
  color: #000;
  display: flex;
  font-family: 'Orbitron', sans-serif;
  text-transform: uppercase;
}

.logo a {
  cursor: pointer;
  text-decoration: none;
  display: flex;
  color: #000;
}

.lx {
  padding-top: 0px;
  margin: 0px;
  font-size: 28px;
  color: #c62ff6;
  font-family: 'Orbitron', sans-serif;
}


nav ul {
  list-style: none;
  display: flex;
  gap: 30px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 1vw;
  text-transform: uppercase;
  transition: color 0.3s ease, transform 0.3s ease;
  font-family: Poppins;
}

nav ul li a:hover {
  color: #c62ff6;
  transform: scale(1.1);
}

/* Navigation - Mobile */
nav .menu-toggle {
  display: none;
}

nav .nav-links {
  display: flex;
  /* Default layout (desktop) */
}


main {
  display: flex;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}


/* carousel */
.carousel {
  height: 73vh;
  width: 67%;
  position: relative;
}

.carousel .item {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0 0 0 0;
}

.carousel .item .content {
  position: absolute;
  top: 20%;
  width: 80%;
  left: 50%;
  transform: translateX(-50%);
  padding-right: 0%;
  box-sizing: border-box;
  color: white;
  text-shadow: 0 5px 10px #0004;
}

.carousel .item .author {
  font-weight: bold;
  letter-spacing: 10px;
  font-size: 0.95rem;
  font-family: Poppins;
}

.carousel .item .title,
.carousel .item .topic {
  font-size: 5em;
  font-weight: bold;
  line-height: 1.3em;
  font-family: Poppins;
}

.carousel .item .topic {
  color: #c62ff6
}

.carousel .item .buttons {
  display: grid;
  grid-template-columns: repeat(2, 130px);
  grid-template-rows: 40px;
  gap: 5px;
  margin-top: 20px;
}

.carousel .item .buttons button {
  border: none;
  background-color: white;
  letter-spacing: 3px;
  font-family: Poppins;
  font-weight: 500;
}


.carousel .item .buttons button:nth-child(2) {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
}

.carousel .item .buttons button:nth-child(2):hover {
  background-color: #fff;
  color: white;
}


.carousel .item .buttons button:nth-child(2) a {
  text-decoration: none;
  color: #fff;
}

.carousel .item .buttons button:nth-child(2):hover a {
  color: #c62ff6;

}

.swiper {
  height: 73vh;
  display: flex;
  align-items: flex-end;
  transform: scale(0.9);
}

.wrapper {
  font-family: "Inter", sans-serif;
  width: 100%;
  padding: 20px 10px;
  margin: 0 60px 35px;
  overflow: hidden;
  align-items: center;
}

.wrapper .card {
  background: #fff;
  display: flex;
  height: auto;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s ease;
}

.wrapper .card:hover {
  transform: translateY(-10px);
}

.card .card-image {
  position: relative;
}

.card .card-image img {
  width: 100%;
  padding: 10px;
  border-radius: 22px;
  object-fit: cover;
  aspect-ratio: 16 / 9;
}

.card .card-image .card-tag {
  position: absolute;
  top: 25px;
  left: 25px;
  font-size: 0.75rem;
  color: #c62ff6;
  padding: 5px 15px;
  border-radius: 30px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.card .card-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 10px 25px 25px;
}

.card .card-content .card-title {
  color: #c62ff6;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: 15px;
}

.card .card-content .card-text {
  color: #747474;
  font-size: 0.95rem;
  line-height: 1.6;
  margin-bottom: 20px;
}

.card .card-footer {
  display: flex;
  margin-top: auto;
  align-items: center;
  padding-top: 15px;
  justify-content: space-between;
  border-top: 1px solid rgba(0, 0, 0, 0.08);
}

.card .card-footer .card-profile {
  display: flex;
  align-items: center;
}

.card .card-profile .card-profile-info {
  display: flex;
  flex-direction: column;
}

.card .card-profile .card-profile-name {
  font-size: 0.875rem;
  font-weight: 600;
  color: #202020;
}

.card .card-profile .card-profile-role {
  font-size: 0.8rem;
  color: #7A7A7A;
}

.card .card-profile img {
  width: 35px;
  height: 35px;
  margin-right: 10px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card .card-button {
  color: #fff;
  padding: 10px 20px;
  border-radius: 30px;
  font-size: 0.81rem;
  font-weight: 600;
  text-decoration: none;
  background: linear-gradient(135deg, #c62ff6 0%, #730099 100%);
  box-shadow: 0 4px 10px rgba(99, 102, 241, 0.2);
  transition: all 0.3s ease;
}

.card .card-button:hover {
  transform: translateY(-3px);
  box-shadow: 0 8px 15px rgba(99, 102, 241, 0.3);
}

.wrapper .swiper-pagination-bullet {
  height: 15px;
  width: 15px;
  opacity: 1;
  overflow: hidden;
  position: relative;
  background: #730099;
}

.wrapper .swiper-pagination-bullet-active {
  background: #c62ff6;
}

/* Auto-play loading indicator */
.wrapper .swiper-pagination-bullet-active::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #730099;
  transform-origin: left center;
  transform: scaleX(0);
  animation: autoplay-loading 5s linear forwards;
}

.container:hover .wrapper .swiper-pagination-bullet-active::before {
  animation-play-state: paused;
}

@keyframes autoplay-loading {
  0% {
    transform: scaleX(0);
  }

  100% {
    transform: scaleX(1);
  }
}

.wrapper :where(.swiper-button-prev, .swiper-button-next) {
  color: #730099;
  margin-top: 2%;
  transition: all 0.3s ease;
}

.wrapper :where(.swiper-button-prev, .swiper-button-next):hover {
  color: #c62ff6;
}

/* animation */
.carousel .item:nth-child(1) {
  z-index: 1;
}

/* animation text in first item */

.carousel .item:nth-child(1) .content .author,
.carousel .item:nth-child(1) .content .title,
.carousel .item:nth-child(1) .content .topic,
.carousel .item:nth-child(1) .content .des,
.carousel .item:nth-child(1) .content .buttons {
  transform: translateY(50px);
  filter: blur(20px);
  opacity: 0;
  animation: showContent .5s 1s linear 1 forwards;
}

@keyframes showContent {
  to {
    transform: translateY(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

.carousel .item:nth-child(1) .content .title {
  animation-delay: 1.2s !important;
}

.carousel .item:nth-child(1) .content .topic {
  animation-delay: 1.4s !important;
}

.carousel .item:nth-child(1) .content .des {
  animation-delay: 1.6s !important;
  font-size: 0.95rem;
  font-family: "Inter", sans-serif;
  line-height: 1.6;
}

.carousel .item:nth-child(1) .content .buttons {
  animation-delay: 1.8s !important;
}

footer {
  width: 100%;
  color: white;
  text-align: center;
  padding: 0rem 0rem 0.5rem 0rem;
  font-size: 0.9rem;
  /* line-height: 1.6; */
  font-family: "Inter", sans-serif;
}


.footer-logo {
  font-family: 'Orbitron', sans-serif;
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.footer-logo span:first-child {
  color: white;
}

.footer-logo span:last-child {
  color: #c62ff6;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  gap: 5vw;
  justify-content: start;
  max-width: 90vw;
  margin: 0 4.3vw;
}

.footer-section {
  /* flex: 1 1 37vw; */
  width: 25vw;
  color: #fff;
  text-align: left;
}

.footer-section h4 {
  margin-bottom: 10px;
  color: #fff;
}

.footer-section a {
  color: #fff;
  text-decoration: underline;
}

.footer-section a:hover {
  text-decoration: none;
  color: #c62ff6;
}

.footer-bottom {
  border-top: 1px solid #fff;
  margin-top: 0.5vw;
  padding-top: 10px;
  text-align: center;
  font-size: 0.2;
  margin-right: 5rem;
  margin-left: 5rem;
}

.footer-bottom a {
  color: #fff;
}

.footer-bottom a:hover {
  color: #c62ff6;
}

.footer-section a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.footer-section a footer a:hover {
  color: #c62ff6;
}

/* Desktop resposive*/
@media screen and (min-width: 768px) and (max-width: 1367px) {

  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* considera l’altezza nav */
    width: 100%;
  }

  .carousel {
    width: 100%;
    height: 60vh;
    position: relative;
  }

  .carousel .item {
    width: 100%;
  }

  .carousel .item:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
  }

  .carousel .item .content {
    top: 60%;
    /* left: 50%; */
    transform: translate(-50%, -50%);

    width: 100%;
    padding: 0 3vw;
  }
}


/*Layout mobile versione portrait */
@media screen and (max-width:599px) and (orientation:portrait) {

  body {
    width: 100%;
  }

  nav ul li a {
    font-size: 5vw;
  }

  nav ul li {
    border-top: 0.3px solid rgba(0, 0, 0, 0.123);
    width: 100%;
    padding: 2vh 6vw;
  }

  nav ul li:hover {
    background-color: #c62ff6;
  }

  nav ul li:hover a {
    color: #fff;
  }

  nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 7vh;
    padding: 0vw;
    background-color: #730099;

  }

  nav .logo {
    font-weight: bold;
    color: #000;
    display: flex;
    font-family: 'Orbitron', sans-serif;
    padding: 0vw 0vw 0vw 5vw;

  }

  /* Show hamburger icon on mobile */
  nav .menu-toggle {
    display: block;
    background: transparent;
    border: none;
    font-size: 8vw;
    /* Mantiene il font adattabile senza diventare troppo grande */
    color: #c62ff6;
    /* Adatta il margine in base alla larghezza dello schermo */
    padding: 0vw 5vw 0vw 0vw;
  }

  nav .nav-links {
    display: none;
    flex-direction: column;
    gap: 0vh;
    position: absolute;
    top: 60px;
    /* right: 21vw; */
    background-color: #730099;
    border-radius: -0.5rem;
    box-shadow: 0px 0.5vh 1vh rgba(0, 0, 0, 0.1);
    width: 100%;
    padding: 0;
  }

  /* Make nav links visible when hamburger is clicked */
  nav.active .nav-links {
    display: flex;
    align-items: flex-start;
  }

  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* considera l’altezza nav */
    width: 100%;
  }

  .carousel {
    width: 100%;
    height: 60vh;
    position: relative;
  }

  .carousel .item {
    width: 100%;
  }

  .carousel .item .content {
    top: 60%;
    /* left: 50%; */
    transform: translate(-50%, -50%);

    width: 100%;
    padding: 0 3vw;
  }

  .carousel .item .title {
    font-size: 14.5vw;
  }

  .swiper {
    width: 100%;
  }

  .wrapper {
    width: 100%;
    margin: 0 auto;
    padding: 40px 5%;
  }

  .card {
    width: 100%;

  }

  .wrapper :where(.swiper-button-prev, .swiper-button-next) {
    display: none;
  }

  footer {
    width: 100%;
    padding: 2rem 5vw;
  }

  .footer-logo {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  
  .footer-logo {
    color: #c62ff6;
  }

  

}


/*Layout mobile versione landscape */
@media screen and (min-width: 599px) and (max-width:932px) and (orientation:landscape) {}

/* Tablet Portrait */
@media screen and (min-width: 600px) and (max-width: 1024px) and (orientation: portrait) {}

/* Tablet Landscape */
@media screen and (min-width: 1024px) and (max-width: 1366px) and (orientation: landscape) {}