* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    font-family: 'Fira Sans', sans-serif;
    background-color: #fff;
    color: #263238;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

.main {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    text-align: center;
    padding: 1rem 1.5rem;
    color: #263238;
    flex: 0 0 25%;
}

.logo {
    font-family: 'Orbitron', sans-serif;
    font-size: 1.6rem;
    font-weight: bold;
}

.logo span:first-child {
    color: #263238;
}

.logo span:last-child {
    color: #c62ff6;
}

h1.name {
    font-size: 1.5rem;
    margin: 0.5rem 0;
}

h3.profession {
    font-size: 1.1rem;
    font-weight: 500;
    margin-top: 0.5rem;
    color: #730099;
}

.description {
    font-size: 0.9rem;
    margin-top: 1rem;
    color: #555;
}

.disclaimer {
    font-size: 0.75rem;
    color: #777;
    margin-top: 1rem;
}

.services-section {
    background-color: #730099;
    color: white;
    padding: 1rem 0.5rem;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    clip-path: polygon(50% 5%, 100% 0%, 100% 100%, 0% 100%, 0% 0%);
}

.slider-wrapper {
    overflow-x: auto;
    display: flex;
    gap: 1rem;
    padding: 0.5rem 0.5rem;
    scroll-snap-type: x mandatory;
    position: relative;
}

.slider-wrapper::-webkit-scrollbar {
    height: 6px;
}

.slider-wrapper::-webkit-scrollbar-thumb {
    background: #c62ff6;
    border-radius: 10px;
}

.card {
    scroll-snap-align: start;
    background-color: #fff;
    color: #263238;
    border-radius: 8px;
    padding: 1.5rem;
    text-align: center;
    transition: background 0.3s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card:hover {
    background-color: #c62ff6;
    color: white;
}

.card h3 {
    margin-top: 0.5rem;
    font-size: 1.2rem;
}

.material-symbols-outlined {
    font-size: 35px;
    color: #730099;
}

.card:hover .material-symbols-outlined {
    color: white;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.slider-hint {
    text-align: center;
    font-size: 0.9rem;
    margin-top: 3rem;
    margin-bottom: 0rem;
    opacity: 0.9;
    animation: blink 1.5s infinite;
}

.cta {
    background-color: #c62ff6;
    color: white;
    padding: 0.6rem 1rem;
    margin: 1rem auto;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    transition: background 0.3s;
    display: inline-block;
    font-size: 0.9rem;
}

.cta:hover {
    background-color: #263238;
}

footer {
    background-color: #263238;
    color: white;
    text-align: center;
    padding: 1rem;
    font-size: 0.9rem;
}

.footer-logo {
    font-family: 'Orbitron', sans-serif;
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.footer-logo span:first-child {
    color: white;
}

.footer-logo span:last-child {
    color: #c62ff6;
}



/*Layout mobile versione portrait */
@media screen and (max-width:600px) and (orientation:portrait) {
    .card {
        flex: 0 0 50%;
        padding: 1rem;
    }

    h1.name {
        font-size: 1.1rem;
    }

    h3.profession {
        font-size: 0.9rem;
    }

    .slider-wrapper {
        gap: 0.8rem;
    }

    footer {
        font-size: 0.75rem;
    }
}

/*Layout mobile versione landscape */
@media screen and (min-width: 600px) and (max-width:932px) and (orientation:landscape) {


    .slider-hint {
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 0.9rem;
    }

    .card {
        flex: 0 0 50%;
        padding: 1rem;
    }
}

/*Layout Tablet versione portrait */
@media screen and (min-width:600px) and (max-width:1024px) and (orientation:portrait) {
    .logo {
        font-family: 'Orbitron', sans-serif;
        font-size: 2.6rem;
        font-weight: bold;
    }
    

    h1.name {
        font-size: 3.1rem;
    }

    h3.profession {
        font-size: 1.9rem;
    }

    .description {
        font-size: 1.9rem;

    }

    .disclaimer {
        font-size: 1.75rem;
        color: #777;
        margin-top: 1rem;
    }

    .slider-hint {
        margin-top: 80px;
        margin-bottom: 0px;

    }

    .card h3 {
        margin-top: 1.5rem;
        font-size: 2.2rem;
    }

    .card {
        flex: 0 0 50%;
        height: 15vh;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;
        font-size: 1.3rem;
    }

    .cta {
        font-size: 1.75rem;
    }

    footer {
        font-size: 1.75rem;
    }

}

/*Layout Tablet versione landscape */
@media screen and (min-width: 1024px) and (max-width: 1366px) and (orientation:landscape) {
    .logo {
        font-family: 'Orbitron', sans-serif;
        font-size: 2.6rem;
        font-weight: bold;
    }
    

    h1.name {
        font-size: 3.1rem;
    }

    h3.profession {
        font-size: 1.9rem;
    }

    .description {
        font-size: 1.9rem;

    }

    .disclaimer {
        font-size: 1.75rem;
        color: #777;
        margin-top: 1rem;
    }

    .slider-hint {
        margin-top: 80px;
        margin-bottom: 0px;

    }

    .card h3 {
        flex: 0 0 50%;
        font-size: 2.2rem;
    }

    .card {
        font-size: 1.3rem;
    }

    .cta {
        font-size: 1.75rem;
    }

    footer {
        font-size: 1.75rem;
    }

}